iframe {
    width: 50%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
    font: Courier;
}
p {
    font: Courier;
    font-size: 20px;
}
li{
    font-size: 20px;
    font: Courier;
}
.heading {
    font-style: bold;
    font-size: 26px;
    font: Courier;
}
h2 {
    text-align: center;
}
.intro {
    background-color:rgb(252, 214, 227);
    font: Courier;
    margin: 0 auto; 
    column-width: 400px;
    padding: 2rem 1rem; 
    max-width: 500px;
}
.body {
    background-color:lemonchiffon;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}