* {
    box-sizing: border-box;
  }
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .heading {
      font-style: bold;
      font-size: 26px;
      font: Courier;
  }
  .intro {
      background-color:rgb(252, 215, 228);
      font: Courier;
      margin: 0 auto; 
      column-width: 400px;
      padding: 2rem 1rem; 
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px; 
}
.table {
      border: black;
      border-style: solid;
      border-width: 3px;
      align-content: left;
}
.timeline {
      background-color:rgb(255, 232, 213);
}
.woodblock {
      background-color:rgb(255, 254, 213);
}
.printing_press {
      background-color:rgb(220, 255, 213);
}
.rotary {
      background-color:rgb(213, 247, 255);
}
.laser_printing {
      background-color:rgb(213, 219, 255);
}
.digital_printing {
      background-color:rgb(251, 213, 255);
}
.sources {
      background-color:rgb(255, 213, 226);
}
iframe {
      width: 50%;
      height: 500px;
      display: block;
      margin-left: auto;
      margin-right: auto;
}
h1 {
      text-align: center;
      font: Courier;
}
p {
      font: Courier;
      font-size: 20px;
}
li{
      font-size: 20px;
      font: Courier;
}
h2 {
      text-align: center;
}
body {
    background-color:#F7F9F9;
}
