iframe {
    width: 50%;
    height: 500px;
}
h1 {
    text-align: center;
    font: Courier;
    column-width: 400px;
    padding: 2rem 1rem;
}
p {
    font: Courier;
    font-size: 20px;
}
li{
    font-size: 20px;
    font: Courier;
}
.heading {
    font-style: bold;
    font-size: 26px;
    font: Courier;
}
h2 {
    text-align: center;
}
img {
    box-align: center;
    width: 40%
}
.intro2 {
    background-color:rgb(252, 214, 227);
    font: Courier;
    margin: 0 auto;
    max-width: 500px; 
    column-width: 400px;
    padding: 2rem 1rem; 
}